@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Kalnia:wght@500&family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,700&family=Rubik:ital,wght@1,300&family=Whisper&display=swap');
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar h2 {
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none; 
    font-family: 'Playfair Display', serif,cursive;
    font-weight: 400;
    font-style: Regular;
  }
  
  .navbar h2:hover {
    color: black;
    font-family: "Gilroy";
    cursor: pointer;
    border-bottom: 2px solid black; 
    padding-bottom: 1px; 
  }
  

